html {
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}

body {
  margin: 0;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.713);
}

.navbar .navbar_left {
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.navbar .navbar_logo {
  height: 75px;
  width: 170px;
}

.navbar .navbar_right {
  margin-right: 100px;
  display: flex;
  align-items: center;
}

.navbar .navbar_menu {
  margin: 0;
  padding: 10px;
  display: flex;
}

.navbar_menu .navbar_item {
  list-style: none;
  margin-left: 50px;
  padding: 10px;
  background-color: rgb(230, 173, 107);
  border-radius: 10px;
}

.navbar_menu .navbar_item:hover {
  background-color: rgb(234, 125, 0);
}

.navbar_menu .navbar_item a {
  text-decoration: none;
  color: black;
  font-size: 22px;
}

.footerdiv {
  background-color: rgb(253, 237, 214);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerdiv .footerdiv_text {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond,
    'Times New Roman', serif;
}

.footerdiv .footerdiv_text .footerdiv_connect {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerdiv .footerdiv_connect #email {
  margin-left: 30px;
  height: 48px;
  width: 37px;
}

.footerdiv .footerdiv_connect #instagram {
  margin-left: 30px;
  height: 30px;
  width: 30px;
}

.footerdiv .footerdiv_connect #linkedin {
  margin-left: 30px;
  height: 37px;
  width: 35px;
}

.footerdiv .copyright {
  color: black;
  font-weight: bolder;
}

/*=============== HOMEPAGES ===============*/

.home_container {
  display: flex;
}

.home_container_left {
  flex: 0.6;
  margin: 20px;
  border-radius: 10px;
  padding: 30px;
}

.home_container_right {
  flex: 0.4;
}

.home_container_left .home_container_left_heading {
  text-align: center;
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 18px;
  padding: 10px;
}

.home_container_left .content {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.home_container_left .content .content_body {
  flex: 0.5;
}

.home_container_left .content .content_text h3 {
  margin-top: 0;
  font-size: 30px;
}

.home_container_left .content .content_text {
  padding: 25px;
  text-align: justify;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  font-size: 17px;
  background-color: rgba(255, 255, 255, 0.181);
}

.signin_container_form {
  margin: 100px 35px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 10px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.664);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.signin_container_form h1 {
  font-size: 35px;
  margin-bottom: 15px;
  margin-top: 0;
  padding: 10px;
}

.signin_container_form .signinopt {
  padding: 15px 20px;
}

.signin_container_form img {
  height: 85px;
  width: 170px;
}

.signin_container_form input {
  width: 90%;
  font-size: 20px;
  padding: 15px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}

.signin_container_form button {
  background-color: rgb(230, 173, 107);
  margin: 20px;
  font-size: 20px;
  border: none;
  padding: 15px 20px;
  border-radius: 4px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.signin_container_form button:hover {
  background-color: rgb(234, 125, 0);
}

/*=============== REGISTRATIONS ===============*/

.apply_container {
  background-color: rgb(253, 237, 214);
  margin: 30px auto;
  padding: 30px;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.apply_container h1 {
  text-align: center;
  color: rgb(0, 0, 0);
}

.apply_container .apply_row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.apply_container .apply_row .apply_input {
  width: 250px;
  font-size: 20px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  background-color: rgba(255, 205, 135, 0);
}

.apply_container .apply_row .input_option {
  width: 250px;
  padding: 10px;
}

.apply_container .apply_row #studate {
  width: 250px;
  font-size: 20px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  background-color: rgba(255, 205, 135, 0);
}

.apply_container .apply_btn {
  display: flex;
  flex-direction: column;
}

.apply_container .apply_btn button {
  background-color: rgb(230, 173, 107);
  margin: 15px 0;
  font-size: 20px;
  border: none;
  padding: 15px 20px;
  border-radius: 4px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.apply_container .apply_btn button:hover {
  background-color: rgb(234, 125, 0);
}

/*=============== APPLYPROFILE.HTML ===============*/

.profile_container {
  background-color: rgb(253, 237, 214);
  margin: 30px auto;
  padding: 30px;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.tutor_profile_header {
  text-align: center;
  color: rgb(0, 0, 0);
}

.profile_container_rows {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}

.profile_container_rows h3 {
  width: 150px;
  margin: 5px;
}

.profile_container .profile_container_rows p {
  margin: 0;
}

.profile_container .profile_container_rows {
  display: flex;
  justify-content: left;
}

/*=============== PAYMENTPORTAL ===============*/

.payment_container .payment_container_rows {
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment_container .payment_container_rows p {
  font-size: 20px;
}

/*=============== TIMETABLE ===============*/

.apply_container .tutor_table {
  display: flex;
}

.apply_container .tutor_timetable {
  background-color: #ffffffb7;
  margin: auto;
  border: 1px solid black;
}

.tutor_timetable {
  text-align: center;
}

.tutor_timetable td,
.tutor_timetable {
  border: 1px solid #ddd;
  padding: 8px;
}

.tutor_timetable th {
  padding: 12px;
  text-align: center;
  background-color: rgb(234, 125, 0);
  color: black;
}

/*=============== TUTORCOURSEPORTAL ===============*/
