/*=============== JOBS.HTML ===============*/


.job_header h1 {
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-variant: normal;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.job_container {
    display: flex;
    text-align: justify;
}

.job_container h2 {
    background-color: #76a7dc;
    padding: 15px;
    margin: 20px;
    text-align: center;
}

.job_container .job_table {
    max-width: 800px;
    min-height: 1700px;
    margin: 20px 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    line-height: 30px;
    border: 2px solid black;
}

.job_container .job_table th {
    vertical-align: baseline;
}

.job_container .job_table aside {
    padding: 10px;
    float: right;
    font-style: italic;
    background-color: rgba(117, 168, 234, 0.358);
    border: 1px solid blue;
}

.job_container .job_table .essential_qualification:hover {
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.job_container .job_table .preferable_qualification:hover {
    color: rgb(33, 62, 32);
    font-weight: bold
}

/*=============== ABOUT.HTML ===============*/


.about_container {
    margin: 30px auto;
    padding: 30px;
    width: 90%;
}

.about_contents {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 75, 173, 0.088);
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.about_container .about_details img {
    height: 270px;
    width: 220px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.about_container .about_details figcaption,
h2 {
    text-align: center;
    text-shadow: 1px 1px rgba(8, 51, 160, 0.624);
}

.about_container .about_details dt {
    font-weight: bold;
}

.about_container .about_details {
    padding: 20px;
    box-shadow: 0 0 0 rgba(8, 51, 160, 0.624),
        0 0 0 rgba(146, 193, 255, 0.702),
        5px 5px 10px rgba(8, 51, 160, 0.624) inset,
        -5px -5px 10px rgba(146, 193, 255, 0.702) inset;
    text-align: justify;
    line-height: 25px;
}

.about_container .about_details dt {
    float: left;
    clear: left;
}

.about_container .about_details dd {
    float: right;
}

.about_container .about_details dt::after {
    content: ":";
}

.about_container .about_table {
    display: flex;
    background-color: rgba(0, 75, 173, 0.088);
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.about_container .about_time_table {
    background-color: #ffffffb7;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

.about_time_table {
    text-align: center;
}

.about_time_table td,
.about_time_table {
    border: 1px solid #ddd;
    padding: 8px;
}

.about_container .about_time_table caption {
    font-weight: bold;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px rgba(8, 51, 160, 0.624);
    padding-bottom: 5px;
}

.about_time_table tbody:hover {
    background-color: #8fb7eb3f;
}

.about_time_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(0, 74, 173);
    color: white;
}

/*------ Animation ------*/

.about_table .animation {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_table .box_animation {
    border-radius: 20px;
    width: 60px;
    height: 60px;
    background: rgba(0, 75, 173, 0.573);
    box-shadow: 0 0 0 rgba(8, 51, 160, 0.624),
        0 0 0 rgba(146, 193, 255, 0.702),
        10px 10px 10px rgba(8, 51, 160, 0.624) inset,
        -10px -10px 10px rgba(146, 193, 255, 0.702) inset;
    animation: anime 3s cubic-bezier(0.16, 1, 0.3, 1) 1s infinite alternate;
}

@keyframes anime {
    0% {
        width: 60px;
        height: 60px;
        background: rgba(0, 75, 173, 0.088);
        box-shadow: 0 0 0 rgba(8, 51, 160, 0.624),
            0 0 0 rgba(146, 193, 255, 0.702),
            10px 10px 10px rgba(8, 51, 160, 0.624) inset,
            -10px -10px 10px rgba(146, 193, 255, 0.702) inset;
    }

    25% {
        width: 60px;
        height: 60px;
        background: rgba(0, 75, 173, 0.088);
        box-shadow: 10px 10px 10px rgba(8, 51, 160, 0.624),
            10px 10px 10px rgba(146, 193, 255, 0.702),
            0 0 0 rgba(8, 51, 160, 0.624) inset,
            0 0 0 rgba(146, 193, 255, 0.702) inset;
    }

    50% {
        width: 60px;
        height: 180px;
        background: rgba(0, 75, 173, 0.088);
        box-shadow: 10px 10px 10px rgba(8, 51, 160, 0.624),
            10px 10px 10px rgba(146, 193, 255, 0.702),
            0 0 0 rgba(8, 51, 160, 0.624) inset,
            0 0 0 rgba(146, 193, 255, 0.702) inset;
    }

    100% {
        width: 240px;
        height: 180px;
        background: rgba(0, 75, 173, 0.088);
        box-shadow: 40px 40px 40px rgba(8, 51, 160, 0.624),
            0 0 0 rgba(146, 193, 255, 0.702),
            0 0 0 rgba(8, 51, 160, 0.624) inset,
            2px 2px 2px rgba(146, 193, 255, 0.702) inset;
    }
}


/*=============== ENHANCEMENTS.HTML ===============*/

.enhancements_section {
    padding: 20px;
    text-align: justify;
    font-size: 18px;
    line-height: 35px;
}

.enhancements_section h1 {
    text-align: center;
    margin: 0;
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-variant: normal;
    font-weight: bold;
    font-size: 40px;
    padding: 10px;
}

.enhancements_section .enhancement_sub {
    font-weight: bold;
    font-size: 25px;
    padding: 5px 0;
}

.enhancements_section .enhancements_body {
    border-radius: 10px;
    padding: 40px;
    margin: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.181);
}